
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

//label {
//  font-weight: 700;
//}
//html {
//  height: 100%;
//box-sizing: border-box;
//}
//#app {
//  height: 100%;
//}
//*,
//*:before,
//*:after {
//box-sizing: inherit;
//}

a:focus,
a:active {
  outline: none;
}

//清楚浏览器默认样式
a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

p {
  margin: auto;
}

// main-container global css
.app-container {
  padding: 20px;
}

.hover-cursor-pointer:hover {
  cursor: pointer
}

.float-right {
  float: right
}


// todo 添加自己的常用全局样式.
/**
布局
 */
.y-flex {
  display: flex;
}

.y-flex-col {
  display: flex;
  flex-direction: column;
}

.y-flex-wrap {
  flex-wrap: wrap;
}

.y-flex-1 {
  flex: 1;
}

.y-align-center {
  justify-content: center;
}

.y-align-left {
  justify-content: flex-start;
}

.y-align-right {
  justify-content: flex-end;
}

.y-align-between {
  justify-content: space-between;
}

.y-align-around {
  justify-content: space-around;
}

.y-vertical-center {
  align-items: center;
}

.y-vertical-top {
  align-items: flex-start;
}

.y-vertical-bottom {
  align-items: flex-end;
}

/*怪异盒子模型*/
.y-box {
  box-sizing: border-box;
}

/**
边距
 */
//常用分隔间距
.y-m-l-10 {
  margin-left: 10px;
}
.y-m-r-10 {
  margin-right: 10px;
}
.y-p-r-10{
  padding-right: 10px;
}
.y-p-r-20{
  padding-right: 20px;
}
.y-p-r-30{
  padding-right: 30px;
}

/**
字体
 */
//布局
.y-center {
  text-align: center;
}

.y-width-full {
  width: 100%;
}
