// sidebar
$menuText: #bfcbd9;
$menuActiveText: #409EFF;
$subMenuActiveText: #f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #304156;
$menuHover: #263445;

$subMenuBg: #1f2d3d;
$subMenuHover: #001528;

$sideBarWidth: 210px;


//配色方案
$colorWhite: #F7FBFC;
$colorBgGrey: #f0f2f5;
$colorGrey: #d6e6f2;
$colorGreyMiddle: #B9D7EA;
$colorBlueLight: #769FCD;
$colorBlueMiddle: #3667A6;
$colorBlueDeep: #214177;

// 参考element官网配色方案
$colorInfo: #909399;
$colorDanger: #F56C6C;
$colorWarning: #E6A23C;
$colorSuccess: #67C23A;

$colorPrimaryFont: #303133;
$colorCommonFont: #606266;
$colorMinorFont: #909399;
$colorPlaceholderFont: #C0C4CC;
$colorBorder1: #DCDFE6;


/**
  * the :export directive is the magic sauce for webpack
  * https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
  * 导出css变量到js
  **/
//:export {
//  menuText: $menuText;
//  menuActiveText: $menuActiveText;
//  subMenuActiveText: $subMenuActiveText;
//  menuBg: $menuBg;
//  menuHover: $menuHover;
//  subMenuBg: $subMenuBg;
//  subMenuHover: $subMenuHover;
//  sideBarWidth: $sideBarWidth;
//
//  colorWhite: $colorWhite;
//  colorGrey: $colorGrey;
//  colorGreyMiddle: $colorGreyMiddle;
//  colorBlueLight: $colorBlueLight;
//  colorBlueMiddle: $colorBlueMiddle;
//  colorBlueDeep: $colorBlueDeep;
//}


